.song-detail {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
}
.song-list-image {
    height: 150px;
    width: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 30%;
}


.song-list-item {
    display: inline-flex;
    justify-content: left;
    background-color: rgb(71, 71, 71);
    color: #ccc;
    margin-top: 20px;
    width: 500px;
    font-size: 30px;
    flex-shrink: 0;
}

li{
    list-style: none;   
}
