footer {
    background-color: #333;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content:  center;
    align-self: center;
    width: 100%;
    bottom: 0;
}

.about-links-text {
    font-size: 15px;
    color: #ccc;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

