.album-detail {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
}
.album-detail-image {
    height: 150px;
    width: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 30%;
}


.album-detail-info {
    display: inline-flex;
    background-color: rgb(71, 71, 71);
    width: 100%;
    color: #ccc;
    margin-top: 20px;
    margin-right: 5px;
}

li{
    list-style: none;   
}

#album-title {
    font-size: 30px;
    font-weight: bold;
}

#album-artist {
    font-size: 20px;
}

.album-detail-buttons {
    margin-top: 20px;
}