.album-detail {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-top: 70px;
}
.album-detail-image {
    height: 300px;
    width: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 30%;
}


.album-detail-info {
    display: inline-flex;
    background: linear-gradient(rgb(71, 71, 71), rgb(156, 152, 152));
    width: 100%;
    color: #ccc;
    padding: 20px;
    justify-content: space-between;
}

.album-detail-ul {
    margin: 0px;
    padding: 0px;
}

li{
    list-style: none;   
}

#album-title {
    font-size: 30px;
    font-weight: bold;
}

#album-artist {
    font-size: 20px;
}

.album-detail-buttons {
    margin-top: 20px;
}