.song-detail-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 70px;
}
.song-detail-image {
    height: 300px;
    width: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 30%;
}

.song-detail-info {
    display: inline-flex;
    background: linear-gradient(rgb(71, 71, 71), rgb(156, 152, 152));
    width: 80%;
    color: #ccc;
    padding: 20px;
    justify-content: space-between;
}

.song-detail-ul {
    margin: 0px;
    padding: 0px;
}

.song-detail-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* .song-url {
} */

li{
    list-style: none;   
}

#song-title {
    font-size: 30px;
    font-weight: bold;
}

#song-artist {
    font-size: 20px;
}

.song-detail-buttons {
    margin-top: 20px;
}

.play-song-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.song-details-after-top-block {
    display: block;
    width: 80%;
    margin-bottom: 100px;
}

.delete-song-btn {
    background-color: #ffffff;
    color: #ff5500;
    border: 2px solid #ff5500;
}

/* Comments */

.song-comments-div {
    color: rgb(71, 71, 71);
}

.song-comments-header {
    font-size: 25px;
}

/* Song Comment */

.one-song-comment{
    display: block;
    margin-top: 20px;
}

.comment-user-div {
    display: flex;
    align-items: center;
    color: rgb(71, 71, 71);
}

.comment-username {
    font-size: 20px;
    margin-right: 15px;
}

.comment-created {
    color: rgb(71, 71, 71);
    margin-right: 15px;
}

.comment-content {
    margin-left: 20px;
    color: rgb(71, 71, 71);
}