.album-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 100px;
}


.album-list-item {
    display: inline-flex;
    background-color:  rgb(71, 71, 71);
    width: 500px;
    color: #ccc;
    margin-top: 20px;
}

.album-list-image {
    height: 150px;
    width: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 30%;
}

li{
    list-style: none;   
}

.album-list-title {
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
}

.all-albums-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
}