#top-splash-image-div {
    margin:auto;
    width: 80%;
    height: 500px;
    background-image: url(https://res.cloudinary.com/dymmlu1dw/image/upload/v1661817134/soundcloud/pexels-andrea-piacquadio-813940_orqq1x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 30%;
}

#top-logged-in-splash-image-div {
    margin:auto;
    width: 80%;
    height: 500px;
    background-image: url(https://res.cloudinary.com/dymmlu1dw/image/upload/v1661992780/soundcloud/pexels-april-studio-7745126_jcdilb.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#splash-call-to-action {
    margin: auto;
    width: 80%;
    height: 20%;
    background-color: black;
    display: flex;
   justify-content: center;
}

#call-to-action-text {
    padding: 15px;
    color: white;
}

#splash-buttons {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% auto 2% auto;
}

.splash-buttons-content {
    margin: 2px;
}
