#top-splash-image-div {
    width: 80%;
    height: 300px;
    background-image: url(https://res.cloudinary.com/dymmlu1dw/image/upload/v1661823790/soundcloud/pexels-andrea-piacquadio-3800507_oghljx.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 30%;
}

#splash-call-to-action {
    width: 80%;
    height: 20%;
    background-color: black;
}

#call-to-action-text {
    padding: 15px;
    color: white;
}

